.github/
.git/
.next/
coverage/
semanticRelease/
test-results/
nginx/
node_modules/
out/
docs/

.dockerignore
.editorconfig
.eslintignore
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc.js
.releaserc.js
.yamllint

**.test.js
**.test.ts
**.test.tsx
dockerfile
jest.config.ts
jest.setup.ts
tsconfig.jest.json
tsconfig.tsbuildinfo

CHANGELOG.md
LICENSE
README.md
TODO
